.card-content-inner.info {
    position: relative;
    overflow: hidden;
    line-height: 1.05rem;
    height: 3.9rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

a:active.mistake {
    background-color: rgba(111, 126, 171, 0.91);
}

.minirefresh-theme-default .minirefresh-downwrap {
    top: .7rem;
}

.list-block.bit {
    margin-top: 0;
}

.minirefresh-scroll {
    background: none;
}

.list-block li.index {
    margin-bottom: .4rem;
    background-color: #fff;
    box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3)
}

.list-block li:last-child.index {
    margin-bottom: 0;
}

.list-block ul.index {
    background: none;
}

.list-block ul.mine{
    background-color: #444f71;
}

.amine{
    color: rgba(255, 255, 255, 0.92);
}

.item-title.index {
    line-height: 2rem;
    font-size: .9rem;
}


a:active.bit {
    color: rgba(111, 126, 171, 0.91);
}

.item-after {
    line-height: 2rem;
    font-size:.6rem;
}

.minirefresh-theme-default .status-nomore .upwrap-tips {
    padding: 0;
}

.bar-nav~.content{
    top: 3.6rem;
}

.bar.bar-nav.bit {
    background-color: #444f71;
}

.bar.bit{
    height: 3.6rem;
    padding-top: 1.4rem;
}

a.bit,
.title.bit {
    color: #ffffff;
}

.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
    color: #15b3f0;
}

.bit-img {
    width: 100%;
}

.bit-hot {
    background-color: #109cdd;
    font-size: .5rem;
    color: #ffffff;
    position: absolute;
    padding: 0 .1rem 0 .1rem;
    border-bottom-right-radius: .1rem;
}

.bit-hot.seat {
    min-width: 1.5rem;
}

.list-block .item-subtitle.bit{
    font-size: .65rem;
}

.item-subtitle.bit {
    white-space: normal;
}

.item-title.bit {
    line-height: 2;
}

.card.bit {
    margin: 0;
    margin-bottom: .4rem;
}

.card:last-child.bit {
    margin-bottom: 0!important;
}

.card-content-inner.bit {
    font-size: 1.5rem;
}

.card-content-inner.bit-avtive {
    font-size: .65rem;
}

.card-content-inner.bit-account {
    font-size: 1.5rem;
    line-height: 1;
}

.card-content-inner.bit-change {
    font-size: 1rem;
    color: #959595;
    padding: 0 0 0.75rem 0;
}

.item-title.type {
    margin-top: 0.7rem;
}

.item-title.date {
    font-size: 0.75rem;
    color: #959595;
    margin-top: 0.65rem;
}

.item-title.price {
    font-size: 1rem;
    margin-top: .5rem;
}

.item-title.price.account {
    margin-top: 0.5rem;
}

.item-title.change {
    font-size: 0.7rem;
    color: #959595;
}

.item-title.info {
    font-size: 0.75rem;
    color: #959595;
    margin-top: auto;
    margin-bottom: auto;
}

.item-title.mine {
    margin-top: 1.5em;
    margin-left: 0.5rem;
    color: #fff;
}

.badge.no {
    background-color: #ff0000;
    border-radius: 20rem;
    padding: 0.2rem;
    height: 0;
    margin-top: auto;
    margin-bottom: auto; 
    margin-right: 0.2rem;
}

.list-block.mine {
    margin-top: 0;
    margin-bottom: 1.2rem;
    background-color: #959595;
}

.radius {
    border-radius: 10rem;
}

.item-content.mine {
    padding-top: 2rem;
    padding-bottom: 0.8rem;
}

.content-block-title.login{
    margin: 1.5rem .7rem;
    float: left;
}

.content-block-title.login1{
    margin: 1.5rem .1rem;
    float: right;
}

.button-danger.button-fill.login{
    background-color: #444f71;
}

.button-danger.button-fill.login.active,
.button-danger.button-fill.login:active{
    background-color: #3e4e80;
}

 .button.disabled.button-fill.bit {
    color: #ccc;
    background-color: rgba(68, 79, 113, 0.65);
}

.button.button-fill.button-big.telephone{
    line-height: 1.4rem;
    font-size: .7rem;
    height: 1.4rem;
}

.card.install{
    margin:.5rem 0 0 0;
}

.button-danger.button-fill.install{
    background-color: #444f71;
    margin-top: 1rem;
}

.bit-img.error{
    margin-top: 5rem; 
}

.bit-img.success{
    margin-top: 5rem;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.success {
    font-size: 1.2rem;
    line-height: 6rem;
    color: #15b3f0;
}

.button.error{
    border: 1px solid #444f71;
    color: #444f71;
}
